body {
    font-family: URW Gothic L, sans-serif;
    text-align: justify;
    background-color: rgb(243, 247, 250);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    border-radius: 10%;
    position: absolute;
    left: 20px;
}

#recherche {
    border-radius: 10%;
    position: absolute;
    right: 20px;
}

#tools {
    background-color: #0a7f79;
    border-radius: 20px;
    display: flex;
    justify-content: space-around; 
    margin-top: 25px;
    padding: 15px 10px;
}

#tools img {
    height: 30px;
    width: 30px;
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tools a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tool_item label {
    color: white;
    font-weight: bold;
}

.bouton_green {
    padding: 10px 20px;
    display: inline-block;
    border: none;
    border-radius: 20px;
    background-color: #0a7f79;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.bouton_green:hover {
    background-color: #096560;
  }

footer {
    text-align: center;
}

main {
    flex: 1;
}

.window_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}